* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif 
}
header {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    padding: 0 10%;
    background-color: black;
    color: white;
    height: 80px;
}

nav {
    grid-column: 2/-1;
    justify-self: end;
}
ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}
a {
    text-decoration: none;
    color: white;   
}

/* Stilizovanje thumbnail-a */

/* 
font-size 10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
spacing  system 2/4/8/12/16/24/32/48/64/80/96/128 
*/


.thumbnailSection {
    position: relative;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;   
    /* ideja: vrati contain, samo text EXMOOR pomeri preko @media i tjt */
    /* background-size: contain;  */
    /* background-position: right center;  */
    width: 100%;
    height: 88.6vh;
    
}

.thumbnailSection div {
    position: absolute;
    top: 240px;;
    left: 110px;
}

.thumbnailSection div p:first-child {
    font-weight: 700;
    font-size: 98px;
}
.thumbnailSection div p:last-child {
    font-size: 20px;
    font-weight: 500;
}
