* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif 
}
header {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    align-items: center;
    padding: 0 10%;
    background-color: black;
    color: white;
    height: 80px;
}
nav {
    grid-column: 2/-1;
    justify-self: end;
}
ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}
a {
    text-decoration: none;
    color: white;   
}